body {
    font-family: 'Arial', sans-serif;
    background-color: #eef0f1; /* 背景色 */
    margin: 0;
    padding: 20px;
    color: #333;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px; /* 圆角效果 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* 阴影效果 */
}
h1 {
    text-align: center;
    color: #4CAF50; /* 标题颜色 */
    margin-bottom: 20px;
}
p {
    font-size: 1.1em; /* 字体大小 */
    margin-bottom: 10px;
}
.textarea-container {
    position: relative;
    margin-bottom: 20px;
}
textarea {
    width: calc(100% - 30px); /* 减去按钮宽度和内边距 */
    height: 150px; /* 高度调整 */
    padding: 15px; /* 内边距 */
    border: 1px solid #ccc;
    border-radius: 10px; /* 更圆滑的边角 */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* 内阴影效果 */
    transition: border-color 0.3s; /* 边框颜色变化 */
    font-size: 1em; /* 字体大小 */
    resize: none; /* 禁止缩放 */
}
textarea:focus {
    border-color: #4CAF50; /* 聚焦时的边框颜色 */
    outline: none; /* 去掉聚焦的轮廓 */
}
.copy-btn {
    position: absolute;
    top: 15px;
    right: 10px; /* 与textarea左右对齐 */
    background-color: #e0e0e0; /* 按钮背景 */
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    transition: background-color 0.3s; /* 按钮背景色变化 */
}
.copy-btn:hover {
    background-color: #d4d4d4; /* 悬停效果 */
}
button {
    padding: 10px 20px;
    background-color: #4CAF50; /* 按钮颜色 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s; /* 按钮颜色变化 */
}
button:hover {
    background-color: #45a049; /* 悬停效果 */
}
#error {
    color: red;
    margin-top: 10px;
    font-weight: bold; /* 错误信息加粗 */
}
.button-group {
    display: flex;
    justify-content: space-between; /* 按钮元素均匀分布 */
    margin-bottom: 20px;
}
/* Toast Notification 样式 */
.toast {
    display: none;
    min-width: 250px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: absolute; /* 修改为相对于复制按钮的定位 */
    z-index: 1;
    right: 10px; /* 相对于复制按钮右边 */
    top: -50px; /* 相对于复制按钮上方显示 */
    font-size: 17px;
}
.toast.show {
    display: block;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; /* 动画效果 */
}
@keyframes fadein {
    from {opacity: 0;} 
    to {opacity: 1;}
}
@keyframes fadeout {
    from {opacity: 1;} 
    to {opacity: 0;}
}
